.sidebar {
  width: 332px;
  background: rgba(30, 32, 39, 1);
  border-radius: 16px;
  padding: 25px;
  box-sizing: border-box;

  div {
    font-family: Jura;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }
}

hr {
  width: 284px;
  border: none;
  height: 1px;
  background: rgba(48, 50, 56, 1);
}

.sectionAge,
.sectionGender {
  margin-top: 20px;
  margin-bottom: 20px;
}
.usersLength {
  margin-bottom: 20px;
}

.sectionAge {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.sectionGender,
.sectionUsers {
  span {
    color: rgba(140, 137, 136, 1);
    font-family: Jura;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    margin-right: 0 20px 0 0;
  }
}
.sectionGender,
.ageRangeGroup {
  span {
    margin-right: 20px;
    width: 50px;
  }
}
.ageRangeGroup {
  display: flex;
  margin-bottom: 15px;

  strong {
    font-family: Jura;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
  }
}
