.mainContainer {
    width: 1376px;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    min-height: 100vh;
  }
  .searchMainContainer {
    width: 97%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100vh;
  }