
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");

$font-family: Jura;
$color-primary: #dcd8d3;
$background-color: rgb(18, 19, 23);

* {
  font-family: $font-family;
  color: $color-primary;
}

.App {
  background: $background-color;
  max-height: max-content;
  padding-top: 40px;
}

.main_container {
  width: 1376px;
  margin: auto;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  min-height: 100vh;

}
.search_main_container{

  width: 97%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
   margin-left: 20px;
   margin-right: 20px;
   min-height: 100vh;
  

}







