@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");

$font-family: Jura;
$color-primary: #dcd8d3;
$background-color: rgb(18, 19, 23);

* {
  font-family: $font-family;
  color: $color-primary;
}

.App {
  background: $background-color;
  max-height: max-content;
  padding-top: 40px;
}


